<div>
  質問一覧ページ
</div>

<div>
  <%= link_to "質問を投稿する", new_question_path, class: "post" %>
</div>
<div>
  <% @questions.each do |q| %>
    <div>
      <div>
        <%= q.question_title %>
      </div>
      <div>
        <%= q.language.name %>
        <%= q.created_at.to_s(:datetime_jp) %>
      </div>
    </div>
  <% end %>
</div>