<div>
  質問一覧ページ
</div>

<div>
  <%= link_to "質問を投稿する", new_question_path, class: "post" %>
</div>
<div>
  <% @questions.each do |q| %>
    <div>
      <%= q.question_title %>
      <%= q.language.name %>
      <%= q.created_at %>
    </div>
  <% end %>
</div>