<header class="header">
  <div class="header-container">
    <div class="header-leftbox">
      <div class="header-logo">
        LinguaShare
      </div>
    </div>
    <div class="header-rightbox">
      <% if user_signed_in? %>
        <div  class="header-rightbox-left">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-right-link" %>
        </div>
        <div class="header-rightbox-right">
        <%= link_to "マイページ", profile_path(current_user.profile), class: "post", class: "header-right-link" %>
        </div>
      <% else %>
        <div class="header-rightbox-left">
          <%= link_to "ログイン", new_user_session_path, class: "header-right-link" %>
        </div>
        <div class="header-rightbox-right">
          <%= link_to "新規登録", new_user_registration_path, class: "header-right-link" %>
        </div>
      <% end %>
    </div>
  </div>
</header>